body {
    padding-top: 56px;
}

#grudes .btn-danger,
#grudes .btn-primary {
    color: #fff;
}

#grudes .btn-danger:active,
#grudes .btn-primary:active {
    color: #000;
}

.input-group-text {
    width: 2.5rem;
}

.tbody tr .edit {
    display: none;
}

.tbody .edit .edit {
    display: initial;
}

.tbody .edit .noedit {
    display: none;
}

.tbody .btn-sm {
    width: 30px;
    height: 30px;
}

.tbody .edit a.edit {
    display: inline-block;
}

.tbody .form-control {
    width: initial;
    text-align: center;
    padding: 0;
}

.tbody td {
    height: calc(1.5em + 0.75rem + 2px);
    line-height: calc(1.5em + 0.75rem + 2px);
    vertical-align: middle;
}